body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container * {
  z-index: 10;
}

header {
  padding: 0px;
  background-image: url("../img/T19bild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
}

.header_2 {
  padding: 0px;
  background-image: url("../img/sjöko3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}

.header_3 {
  padding: 0px;
  background-image: url("../img/heligskrift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px white;
  color: #e61c51;
}

/*GLOWEFFEKT*/
.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2.5px #e61c51, 0 0 5px #fff, 0 0 7.5px #e61c51, 0 0 10px #e61c51, 0 0 12.5px #e61c51, 0 0 15px #e61c51, 0 0 17.5px #e61c51;
  }

  to {
    text-shadow: 0 0 5px #e61c51, 0 0 7.5px #e61c51, 0 0 10px #e61c51, 0 0 12.5px #e61c51, 0 0 15px #e61c51, 0 0 17.5px #e61c51, 0 0 20px #e61c51;
  }
}

.meme1_2 {
  display: flex;
}

.meme {
  flex: 50%;
  padding: 5px;
}

nav {
  padding: 15px;
  border-top: 6px solid #e61c51;
  border-bottom: 6px solid #e61c51;
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
}

.nav_2 {
  border-top: 6px solid #e61c51;
  padding: 0px;
}

section {
  padding: 15px;
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
}

.section_2 {
  border-top: 6px solid #e61c51;
  padding: 15px;
}

.vecka {
  border: 6px solid #e61c51;
  border-radius: 15px;
  padding: 20px;
}

/*BILDER_MEMEKOLLEKTION*/
.memes {
  height: auto;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #e61c51;
  border-radius: 15px;
}

/*BILDER_KONTAKT*/
.kontaktbild {
  height: 800px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #e61c51;
  border-radius: 15px;
}

/*KNAPPARNA*/
.example_e {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e2 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e2:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e3 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e3:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e4 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e4:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e5 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e5:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_intro {
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.example_intro:hover {
  border: 3px solid rgb(252, 255, 108);
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

/*PLAYKNAPP INTRO*/
.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #e61c51;
}

.p1 {
  font-size: 18px;
  text-align: center;
  color: white;
}

p {
  font-size: 18px;
  text-align: left;
  color: white;
}

#introtitel {
  color: #FFFF82;
  font-size: 50px;
  text-align: center;
}

#introsubtitel {
  color: #FFFF82;
  font-size: 50px;
  text-align: center;
}

#introtext {
  color: #FFFF82;
  font-size: 50px;
}

footer {
  border-top: 6px solid #e61c51;
  padding: 15px;
  text-align: center;
}

#p2 {
  font-size: 12px;
  text-align: center;
}

/*LIQUIDKNAPP*/
.btn-liquid {
  display: inline-block;
  position: relative;
  border-radius: 27px;
  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  /*KNAPPARNA*/
  position: relative;
  z-index: 2;
}

.btn-liquid canvas {
  /*KNAPPARNA*/
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}

/*INTRODUKTION*/
.intro {
    position: absolute;
    top: 45%;
    left: 22%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*ANIMATION LOGGA*/
.logo {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 1;
    margin: auto;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

.logo svg {
    width: inherit;
}

@keyframes logo {
    0% {
        width: 18em;
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

/*DESIGN PÅ TEXT: INTRODUKTION*/
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

/*BAKGRUND*/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars, .twinkling, .clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
