body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container * {
  z-index: 10;
}

header {
  padding: 0px;
  background-image: url("../img/T19bild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
}

.header_2 {
  padding: 0px;
  background-image: url("../img/sjöko3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}

.header_3 {
  padding: 0px;
  background-image: url("../img/heligskrift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}

nav {
  padding: 15px;
  border-top: 6px solid #e61c51;
  border-bottom: 6px solid #e61c51;
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
}

.nav_2 {
  border-top: 6px solid #e61c51;
  padding: 0px;
}

section {
  padding: 15px;
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
}

.section_2 {
  border-top: 6px solid #e61c51;
  padding: 15px;
}

footer {
  border-top: 6px solid #e61c51;
  padding: 15px;
  text-align: center;
}

/*SEKTION PÅ JOURNALSIDAN*/
.vecka {
  border: 6px solid #e61c51;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px white;
  color: #e61c51;
}

/*SUBTITEL*/
h2 {
  font-size: 30px;
  text-align: center;
  color: #e61c51;
}

/*VANLIG TEXT*/
p {
  font-size: 18px;
  text-align: left;
  color: white;
}

/*CENTRERAD TEXT*/
.p1 {
  font-size: 18px;
  text-align: center;
  color: white;
}

/*MINDRE CENTRERAD TEXT*/
#p2 {
  font-size: 12px;
  text-align: center;
}

/*LÄNK INTRO*/
#linkintro {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px white;
  text-decoration: none;
}

#linkintro:hover {
  text-shadow: 2px 2px;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0.3s;
}

/*INTRO TITEL*/
#introtitel {
  color: #FFFF82;
  font-size: 50px;
  text-align: center;
}

/*INTRO SUBTITEL*/
#introsubtitel {
  color: #FFFF82;
  font-size: 50px;
  text-align: center;
}

/*INTRO TEXT*/
#introtext {
  color: #FFFF82;
  font-size: 50px;
}

/*GLOWEFFEKT PÅ TEXT*/
.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2.5px #e61c51, 0 0 5px #fff, 0 0 7.5px #e61c51, 0 0 10px #e61c51, 0 0 12.5px #e61c51, 0 0 15px #e61c51, 0 0 17.5px #e61c51;
  }

  to {
    text-shadow: 0 0 5px #e61c51, 0 0 7.5px #e61c51, 0 0 10px #e61c51, 0 0 12.5px #e61c51, 0 0 15px #e61c51, 0 0 17.5px #e61c51, 0 0 20px #e61c51;
  }
}

/*BILDER_MEMEKOLLEKTION*/
.memes {
  height: auto;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #e61c51;
  border-radius: 15px;
}

/*BILDER_KONTAKT*/
.kontaktbild {
  height: 800px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #e61c51;
  border-radius: 15px;
}

/*KNAPPARNA*/
.example_e {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e2 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e2:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e3 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e3:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e4 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e4:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_e5 {
  border: 3px solid #e61c51;
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
}

.example_e5:hover {
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #e61c51;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.example_intro {
  background: transparent;
  color: white !important;
  font-weight: 100;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.example_intro:hover {
  border: 3px solid rgb(252, 255, 108);
  font-size: 13px;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

/*LIQUIDKNAPP*/
.btn-liquid {
  display: inline-block;
  position: relative;
  border-radius: 27px;
  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  /*KNAPPARNA*/
  position: relative;
  z-index: 2;
}

.btn-liquid canvas {
  /*KNAPPARNA*/
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}

/*ANIMATION INTRODUKTIONSTEXT*/
.intro {
  position: absolute;
  top: 45%;
  left: 22%;
  z-index: 1;
  animation: intro 6s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*ANIMATION LOGGA PÅ INTRO*/
.logo {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
  margin: auto;
  animation: logo 9s ease-out 9s;
  opacity: 0;
}

.logo svg {
  width: inherit;
}

@keyframes logo {
  0% {
    width: 18em;
    transform: scale(2.75);
    opacity: 1;
  }

  50% {
    opacity: 1;
    width: 18em;
  }

  100% {
    opacity: 0;
    transform: scale(0.1);
    width: 18em;
  }
}

/*DESIGN PÅ CANVAS FÖR INTRO*/
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}

/*BAKGRUND*/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars, .twinkling, .clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
